<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start" color="secondary"></ion-back-button>
    <ion-title>Etiqueta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button (click)="selectSource()" expand="block">
    <ion-icon name="camera" slot="start"></ion-icon>
    <ion-label>Selecione Imagem</ion-label>
  </ion-button>
  <img [src]="selectedImage" *ngIf="selectedImage">
  <ion-button [disabled]="!selectedImage" (click)="recognizeImage()" expand="block">
    <ion-icon name="eye" slot="start"></ion-icon>
    <ion-label>Análisar Imagem</ion-label>
  </ion-button>

  <br>
  <ion-progress-bar [value]="loadProgress"></ion-progress-bar>
  <br>

  <!-- DESKTOP -->
  <input type="file" *ngIf="usePicker" (change)="onFileChosen($event)" id="filePicker" />

  <ion-card *ngIf="imageText">
    <ion-card-header>
      Classificação:
    </ion-card-header>
    <ion-card-content>
      {{classificacao}}
    </ion-card-content>
  </ion-card>

  <!-- <ion-card *ngIf="imageText">
    <ion-card-header>
      Qual o motivo do tecido ser insustentável:
    </ion-card-header>
    <ion-card-content>
      {{motivo}}
    </ion-card-content>
  </ion-card> -->
</ion-content>