<ion-header>
    <ion-toolbar>
      <ion-button color="primary" [routerLink]="'/login/'" routerDirection="backward">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <ion-title>Etiqueta</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <ion-button (click)="pickImage()">
    <ion-icon name="camera" slot="start"></ion-icon>
    <ion-label>Select Image</ion-label>
  </ion-button>
  <ion-button (click)="recognizeImage()">Recognize Image</ion-button>
  <input type="file" *ngIf="usePicker" (change)="onFileChosen($event)" id="filePicker"/>

  <img [src]="selectedImage" *ngIf="selectedImage">

  <ion-card *ngIf="imageText">
    <ion-card-header>
      Image Text
    </ion-card-header>
    <ion-card-content>
      {{imageText}}
    </ion-card-content>
  </ion-card>
</ion-content>

