<ion-header>
  <ion-toolbar>
    <ion-title>Autenticação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-item>
      <ion-label position="floating">
        Login
      </ion-label>
      <ion-input id="txtUser"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        Senha
      </ion-label>
      <ion-input id="txtPassword"></ion-input>
    </ion-item>
    <ion-button id="btnLogar" color="primary" [routerLink]="'/etiqueta/'" routerDirection="forward" position="floating">
      Logar</ion-button>
  </ion-card>
</ion-content>