<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <button ion-button full (click)='selectSource()'>SELECT IMAGE</button>
  <button ion-button full (click)='recognizeImage()'>RECOGNIZE IMAGE</button> -->
  <ion-button expand='full' (click)='selectSource()'> SELECT IMAGE </ion-button>
  <ion-button expand='full' (click)='recognizeImage()'> RECOGNIZE IMAGE </ion-button>
  <img [src]='selectedImage' *ngIf='selectedImage'>

  <ion-card *ngIf="imageText">
    <ion-card-header>
      Image Text
    </ion-card-header>
    <ion-card-content>
      {{imageText}}
    </ion-card-content>
  </ion-card>


</ion-content>